body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.page-container {
  width: 80%;
  margin-top: 5rem;
  margin: auto;
}

#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.header-text {
  float: right;
}

li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

.kudos {
  text-decoration: underline;
}

.tile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1rem;
}

.tile-grid > a {
  background-color: var(--color);
  text-decoration: none;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--nord0);
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  transition: 50ms ease-in-out;
}

.tile-grid > a:hover {
  box-shadow: 0 0 20px black;
  transform: scale(1.03);
}

.outer {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  border-style: solid;
}

.row {
  display: flex;
  flex: 1;
  border-style: solid;
}

.item {
  flex: 1;
  border-style: solid;
}